<div>
  <a href="">logo</a>
  <ul>
    <li><a href=""></a>contacts</li>
    <li><a href=""></a>account</li>
    <li><a href=""></a>team</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem iure
    eveniet pariatur aut mollitia dicta molestiae, aliquid similique, tempore
    voluptate possimus hic eum culpa. Eius officiis velit nostrum odio!
  </p>
</div>
<section>
  <h1>GoIt</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque numquam cum,
    optio corrupti consequatur ducimus excepturi, perferendis ex, fugit quae
    dolorum nesciunt dolor assumenda nulla mollitia impedit iusto quibusdam a.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum dolore sunt
    eveniet totam non nam atque fuga magnam ducimus ad vero dolorem ipsa esse ex
    nulla quas, nobis, maxime repellat?
  </p>
</section>
