<section class="header">
  <div class="header__container conainer">
    <a href="#" class="header__logo">Logo</a>
    <div class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="list menu__list">
          <li><a href="#">Home</a></li>
          <li><a href="#">How it`s made?</a></li>
          <li><a href="#">Our products</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
        <a href="#" class="menu__order-link">Buy now ></a>
      </nav>
    </div>
  </div>
</section>
